.homes-available-banner {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 300px;
  max-height: 100vh;
  background-color: #1f6e3f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @media screen and (max-width: 480px) {
    height: 225px;
  }

  .header-title-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-family: "Playball", cursive;

    .homes-available-banner-title {
      font-size: 101px;
      margin: 0px;
      width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      text-align: center;
      color: #ffffff;
      text-align: center;

      @media screen and (max-width: 480px) {
        font-size: 60px;
      }
    }

    .homes-available-banner-description {
      color: #ffffff;
      text-align: center;
      width: 100%;
      min-width: 100%;
      margin: 0px;
      margin-top: -25px;
    }
  }
}

.homes-available-homes {
  margin: 0px auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;

  .home-available {
    min-height: 450px;
    @extend %full-width;
  }
}

.home-available-nav-button {
  color: black;
  border-color: black;
}

.home-available-page {
  margin: 0px auto;
  // padding: 30px 50px 40px;
  width: 100%;
  max-width: 1050px;

  // @media screen and (max-width: 480px) {
  //   padding: 20px 20px 40px;
  // }

  .home-available-page-content {
    padding: 30px 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and (max-width: 480px) {
      padding: 20px 20px 40px;
    }

    .home-available-page-content-main-photo {
      overflow: hidden;
      max-height: 550px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      @media screen and (max-width: 480px) {
        max-height: 350px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: scale-down;
      }
    }

    .home-available-page-content-photos-cont {
      display: flex;
      flex-direction: row;
    }

    .home-available-page-content-photos {
      margin: 0px auto;
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      @media screen and (max-width: 480px) {
        justify-content: flex-start;
        overflow-x: auto;
        flex-wrap: nowrap;
      }

      .home-available-page-content-photo {
        margin: 0px 5px 5px;
        overflow: hidden;
        width: 100px;
        min-width: 100px;
        height: 100px;
        max-width: 100px;
        min-height: 100px;

        @media screen and (max-width: 480px) {
          &:first-of-type {
            margin-left: 0px;
          }
        }

        img {
          max-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }

        &.selected-image {
          position: relative;

          &::before {
            position: absolute;
            content: "Viewing";
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgba(31, 110, 63, 0.85);
            color: #fff;
            z-index: 10;
            font-family: "Oswald", sans-serif;
            font-size: 18px;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .home-available-banner-title {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 36px;
    font-family: "Oswald", sans-serif;
  }

  .home-available-banner-desc {
    margin: 0px;
    padding: 40px 0px;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
  }
}

.homes-available-home {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0px;
  }

  .header-title-box {
    padding: 20px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    // animation: popIn 800ms ease-in-out;
    animation: fadeIn 800ms ease-in-out;

    @media screen and (max-width: 480px) {
      height: 350px;
    }
  }

  .homes-available-home-banner-title {
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  }

  .homes-available-home-nav-button {
    margin-bottom: 20px;
    width: 100%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

// @keyframes popIn {
//   0% {
//     transform: scale(0.1);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
