// Colors -------------------

$white: #ffffff;
$tan: rgb(244, 222, 188);
$blue: rgb(105, 139, 188);
$light-blue: rgb(100, 181, 251);
$dark-transparent: rgba(0, 0, 0, 0.3);
$nav-transparent: rgba(0, 0, 0, 0.8);
$tan-transparent: rgba(244, 222, 188, 0.4);
$light-blue-transparent: rgba(100, 181, 251, 0.4);
$green: #214e34;
$greenTwo: rgb(17, 33, 1);
$greenThree: #196f3d;
$greenFour: rgb(128, 148, 40);

// Animations ---------------

// Media Queries ------------

$tablet: "screen and (max-width: 705px)";
$mobile: "screen and (max-width: 515px)";
$smallPhone: "screen and (max-width: 335px)";

// Misc ---------------------
