nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $greenThree;
  position: sticky;
  top: 0px;

  span {
    font-family: "Playball", cursive;
    font-size: 1.6rem;
    padding-left: 25px;
    color: $white;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 480px;
    padding-right: 25px;
    font-family: "Oswald", sans-serif;
    margin: 0px;
    a {
      text-decoration: none;
      li {
        list-style: none;
        color: $white;
        font-size: 1.3rem;
        padding: 16px 25px;
        transition: background-color 220ms ease-in-out;
        &:hover {
          background-color: $green;
        }
      }
    }
  }
  @media #{$tablet} {
    justify-content: center;
    span {
      font-size: 2.1rem;
      padding: 10px;
    }
    ul {
      display: none;
    }
  }
}
